<div>
    <style scoped>

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(255, 255, 0); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(102, 255, 255); /* this is a light blue */
        }

    </style>
</div>
<%= form_for @employee, :html => {:class => 'pure-form pure-form-aligned'} do |f| %>
<%= field_set_tag 'Por favor complete los siguientes campos'  %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pure-control-group">
    <%= label_tag(:name, "Nombre y Apellido:") %>
    <%= f.text_field :name, :placeholder => 'Nombre', :class => 'pure-input-1-4'%>
    <%= label_tag(:email, "Correo:") %>
    <%= f.text_field :email, :placeholder => 'Correo', :class => 'pure-input-1-4'%>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:mat_number, "Numero de Matricula:") %>
    <%= f.text_field :mat_number, :placeholder => 'Numero de Matricula', :class => 'pure-input-1-4'%>
    <%= label_tag(:cuit, "Cuit/Cuil:") %>
    <%= f.text_field :cuit, :placeholder => 'Cuit/Cuil', :class => 'pure-input-1-4'%>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:address, "Direccion (calle y número):") %>
    <%= f.text_field :address, :placeholder => 'Direccion', :class => 'pure-input-1-4'%>
    <%= label_tag(:localidadId, "Localidad:") %>
    <%= f.text_field :localidadId, :placeholder => 'Localidad o partido', :class => 'pure-input-1-4'%>
  </div>


  <div class="pure-control-group">
    <%= label_tag(:cellphone, "Telefono:") %>
    <%= f.text_field :cellphone, :placeholder => 'Telefono', :class => 'pure-input-1-4'%>
    <%= label_tag(:celular, "Celular:") %>
    <%= f.text_field :celular, :placeholder => 'Celular', :class => 'pure-input-1-4'%>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:degree, "Titulo:") %>
    <%= f.text_field :degree, :placeholder => 'Titulo', :class => 'pure-input-1-4'%>
    <%= label_tag(:especializacion, "Especializacion:") %>
    <%= f.text_field :especializacion, :placeholder => 'Especializacion', :class => 'pure-input-1-4'%>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:comentario, "Comentario:") %>
    <%= f.text_area :comentario, :placeholder => 'Comentario', :class => 'pure-input-1-4'%>
  </div>

  <div class="actions">
    <%= f.submit 'Guardar Profesional', :class=>'button-success pure-button' %>
  </div>
<% end %>
