<p id="notice"><%= notice %></p>

<h1>Empleados</h1>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Numero telefonico</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.email %></td>
        <td><%= employee.tlf %></td>
        <td><%= link_to 'Ver Detalle', employee %></td>
        <td><%= link_to 'Editar', edit_employee_path(employee) %></td>
        <td><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: 'Esta Ud Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Empleado', new_employee_path %>
