<p id="notice"><%= notice %></p>

<h1>PERSONAL - PROFESIONAL</h1>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Numero de matricula</th>
      <th>Cuit</th>
      <th>Numero telefonico</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.mat_number %></td>
        <td><%= employee.cuit %></td>
        <td><%= employee.tlf %></td>
        <td><%= link_to 'Ver Detalle', employee %></td>
        <td><%= link_to 'Eliminar', employee, method: :delete, data: { confirm: 'Esta Ud Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Profesional', new_employee_path %>
