<p id="notice"><%= notice %></p>

<p>
  <h1><%= @employee.name %></h1>
</p>

<p>
  <strong>Correo Electronico:</strong>
  <%= @employee.email %>
  <strong>Telefono:</strong>
  <%= @employee.tlf %>
</p>

<p>
  <strong>Numero de Matricula:</strong>
  <%= @employee.mat_number %>
  <strong>Cuit/Cuil:</strong>
  <%= @employee.cuit %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @employee.address %>
  <strong>Localidad:</strong>
  <%= @employee.localidadId %>
</p>

<p>
  <strong>Titulo:</strong>
  <%= @employee.degree %>
</p>

<%= link_to 'Editar', edit_employee_path(@employee) %> |
<%= link_to 'Regresar', employees_path %>
