<p id="notice"><%= notice %></p>

<p>
  <strong>Visitid:</strong>
  <%= @document.visitId %>
</p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<%= image_tag @document.images.url %>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
