<div>
    <style scoped>

        .button-success,
        .button-error,
        .button-warning,
        .button-secondary {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
        }

        .button-success {
            background: rgb(28, 184, 65); /* this is a green */
        }

        .button-error {
            background: rgb(255, 255, 0); /* this is a maroon */
        }

        .button-warning {
            background: rgb(223, 117, 20); /* this is an orange */
        }

        .button-secondary {
            background: rgb(102, 204, 255); /* this is a light blue */
        }

    </style>
</div>
<%= form_for @company, :html => {:class => 'pure-form pure-form-aligned'} do |f| %>
<%= field_set_tag 'Por favor complete los siguientes campos'  %>
  <% if company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(company.errors.count, "error") %> se encontraron al intentar guardar:</h2>

      <ul>
      <% company.errors.each do |attr,msg| %>
        <li><%=msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="pure-control-group">
    <%= label_tag(:industryTypeId, "Tipo de Industria:") %>
    <%= select("company", "industryTypeId", IndustryType.all.collect {|e| [ e.name, e.id ] }, { :prompt => 'Tipo de Industria' } , :class => 'pure-input-1-4')%>
    <%= label_tag(:employeeId, "Responsable:") %>
    <%= select("company", "employeeId", Employee.all.collect {|g| [ g.name, g.id ] }, {  :prompt => 'Empleado Responsable' } , :class => 'pure-input-1-4')%>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:name, "Razon Social:") %>
    <%= f.text_field :name, :placeholder => 'Razon Social' , :class => 'pure-input-1-4'%>
    <%= label_tag(:fantasy_name, "Nombre de Fantasia:") %>
    <%= f.text_field :fantasy_name, :placeholder => 'Nombre de Fantasia' , :class => 'pure-input-1-4'%>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:cuit, "Cuit:") %>
    <%= f.text_field :cuit, :placeholder => 'Cuit', :class => 'pure-input-1-4' %>
    <%= label_tag(:type, "Casa Matriz o Sede?:") %>
    <%= f.text_field :type, :placeholder => 'Casa Matriz o Sede', :class => 'pure-input-1-4' %>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:address, "Direccion:") %>
    <%= f.text_area :address, :placeholder => 'Direccion', :class => 'pure-input-2-3' %>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:localidadId, "Localidad:") %>
    <%= f.text_field :localidadId, :placeholder => 'Localidad', :class => 'pure-input-1-4' %>
    <%= label_tag(:party, "Partido:") %>
    <%= f.text_field :party, :placeholder => 'Partido', :class => 'pure-input-1-4' %>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:tlf, "Telefono:") %>
    <%= f.text_field :tlf, :placeholder => 'Telefono', :class => 'pure-u-1-4' %>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:internal_tlf, "Interno:") %>
    <%= f.text_field :internal_tlf, :placeholder => 'Interno', :class => 'pure-u-1-4' %>
    <%= label_tag(:contact, "Contacto:") %>
    <%= f.text_field :contact, :placeholder => 'Contacto', :class => 'pure-u-1-4  ' %>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:email, "Correo:") %>
    <%= f.text_field :email, :placeholder => 'E-mail', :class => 'pure-input-1-4' %>
  </div>

  <div class="pure-control-group">
    <%= label_tag(:suscription, "Servicio HYS?") %>
    <%= f.check_box :suscription %>
  </div>

<h2>Visitas</h2>

  <div class="pure-form pure-form-aligned">
    <%= f.nested_fields_for :visit, legend: "Complete los datos de la Visita" do |ff| %>
      <div class="pure-control-group">
        <%= label_tag(:visitTypeId, "Tipo de Visita:") %>
        <%= ff.select :visitTypeId, options_for_select(VisitType.all.collect {|e| [ e.name, e.id ]}, ff.object.visitTypeId), :include_blank => "Tipo de Visita", :class => 'pure-input-1-3'%>
        <%= label_tag(:frecuencyTypeId, "Tipo de Frecuencia:") %>
        <%= ff.select :frecuencyTypeId, options_for_select(Frecuency.all.collect {|e| [ e.name, e.id ]}, ff.object.frecuencyTypeId), :include_blank => "Frecuencia de Visita" , :class => 'pure-input-1-3'%>
        <%= label_tag(:employeeId, "Responsable:") %>
        <%= ff.select :employeeId, options_for_select(Employee.all.collect {|e| [ e.name, e.id ]}, ff.object.employeeId), :include_blank => "Realizador de la Visita" , :class => 'pure-input-1-3'%>
      </div>
      <div class="pure-control-group">
        <%= label_tag(:visitDate, "Fecha de la Visita:") %>
        <%= ff.date_select :visitDate , :class => 'pure-input-1-3' %>
      </div>
      <%= ff.remove_nested_fields_link 'Eliminar esta Visita', class: 'button-error pure-button',role: 'button'%>
  <% end %>

  </div>
  <div class="action">
    <%= f.add_nested_fields_link :visit,'Agregar Visita', class: 'button-secondary pure-button'%>
    <%= f.submit 'Guardar Cliente', :class=>'button-success pure-button' %>
  </div>
<% end %>