<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Nombre del Cliente </th>
      <th>Tipo de Industria </th>
      <th>Responsable </th>
      <th>Email </th>
      <th>Direccion </th>
      <th>Cuit </th>
      <th>Abonado </th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= IndustryType.find(company.industryTypeId).name %></td>
        <td><%= Employee.find(company.employeeId).name %></td>
        <td><%= company.email %></td>
        <td><%= company.address %></td>
        <td><%= company.cuit %></td>
        <td><%= company.suscription %></td>
        <td><%= link_to 'Ver Detalle', company %></td>
        <td><%= link_to 'Editar', edit_company_path(company) %></td>
        <td><%= link_to 'Eliminar', company, method: :delete, data: { confirm: 'Esta Ud seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_company_path %>
