<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Razon Social</th>
      <th>Nombre de Fantasia</th>
      <th>Telefono </th>
      <th>Domicilio</th>
      <th>Localidad </th>
      <th>Partido </th>
      <th>Email</th>
      <th>Frecuencia de visita</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.fantasy_name %></td>
        <td><%= company.tlf %></td>
        <td><%= company.address %></td>
        <td><%= company.localidad %></td>
        <td><%= company.partido %></td>
        <td><%= company.email %></td>
        <td><%= Frecuency.find(company.frecuencyTypeId).name %></td>
        <td><%= link_to 'Ver Detalle', company %></td>
        <td><%= link_to 'Eliminar', company, method: :delete, data: { confirm: 'Esta Ud seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_company_path %>
