<p id="notice"><%= notice %></p>

<p>
  <h1> <%=@company.name%></h1>
</p>

<p>
  <strong>Nombre de Fantasi:</strong>
  <%= @company.fantasy_name %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @company.employee.name %>
  <strong>Tipo de Industria:</strong>
  <%= @company.industryType.name %>
</p>

<p>
  <strong>Cuit:</strong>
  <%= @company.cuit %>
  <strong>Casa Matriz o Sede:</strong>
  <%= @company.type %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @company.address %>
</p>

<p>
  <strong>Localidad:</strong>
  <%= @company.localidadId %>
  <strong>Partido:</strong>
  <%= @company.party %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @company.tlf %>
</p>

<p>
  <strong>Interno:</strong>
  <%= @company.internal_tlf %>
  <strong>Contacto:</strong>
  <%= @company.contact %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @company.email %>
</p>

<p>
  <strong>Suscription:</strong>
  <%= @company.suscription %>
</p>


<h3>Visitas</h3>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Tipo de visita</th>
      <th>frecuencia de la visita</th>
      <th>Responsable</th>
      <th>Fecha de la visita</th>
      <th>Aprovado?</th>
      <th>Fecha de la proxima visita</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @company.visit.each do |visit| %>
      <tr>
        <td><%= visit.visitType.name %></td>
        <td><%= visit.frecuency.name %></td>
        <td><%= visit.employee.name %></td>
        <td><%= visit.visitDate %></td>
        <td><%= visit.aproved %></td>
        <td><%= visit.nextVisit %></td>
        <td><%= link_to 'Ver Detalles', visit %></td>
        <td><%= link_to 'Editar', edit_visit_path(visit) %></td>
        <td><%= link_to 'Eliminar', visit, method: :delete, data: { confirm: 'Esta Ud Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h3>Comentarios</h3>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Comentario</th>
      <th colspan="3">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @company.comment.each do |comment| %>
      <tr>
        <td><%= comment.comment %></td>
        <td><%= link_to 'Ver Detalles', comment %></td>
        <td><%= link_to 'Editar', edit_comment_path(comment) %></td>
        <td><%= link_to 'Eliminar', comment, method: :delete, data: { confirm: 'Esta Ud Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Editar', edit_company_path(@company) %> |
<%= link_to 'Regresar', companies_path %> |
<%= link_to 'Agregar Comentario', new_comment_path(@company) %>