<p id="notice"><%= notice %></p>

<p>
  <h1> <%=@company.name%></h1>
</p>
<br>

<%= link_to 'Editar', edit_company_path(@company) %> |
<%= link_to 'Regresar al Listado', companies_path %> 
<style> .example-table td {   padding: 3px} </style>

<table width="100%" class="example-table" border="0">
<tbody>
    <tr>
      <td><strong>Nombre de Fantasia:</strong></td>
      <td><%= @company.fantasy_name %></td>
      <td><strong>Responsable:</strong></td>
      <td><%= @company.employee.name %></td>
    </tr>
    <tr>
      <td><strong>Tipo de Industria:</strong></td>
      <td><%= @company.industryType.name %></td>
      <td><strong>Cuit:</strong></td>
      <td><%= @company.cuit %></td>
    </tr>
    <tr>
      <td><strong>Casa Matriz o Sede:</strong></td>
      <td><%= @company.companyType %></td>
      <td><strong>Correo:</strong></td>
      <td><%= @company.email %></td>
    </tr>
    <tr>
      <td><strong>Direccion:</strong></td>
      <td colspan="3"><%= @company.address %></td>
    </tr>
    <tr>
      <td><strong>Localidad:</strong></td>
      <td><%= @company.localidad %></td>
      <td><strong>Partido:</strong></td>
      <td><%= @company.partido %></td>
    </tr>
    <tr>
      <td><strong>Telefono:</strong></td>
      <td><%= @company.tlf %></td>
      <td><strong>Celular:</strong></td>
      <td><%= @company.cellphone %></td>
    </tr>
    <tr>
      <td><strong>Interno:</strong></td>
      <td><%= @company.internal_tlf %></td>
      <td><strong>Contacto:</strong></td>
      <td><%= @company.contact %></td>
    </tr>
    <tr>
      <td><strong>Tipo de Industria:</strong></td>
      <td><%= @company.industryType.name %></td>
      <td><strong>Suscription:</strong></td>
      <td><%= @company.suscription ? 'Si':'No' %></td>
    </tr>
</table>
<br/>

<!--h3>Visitas</h3>

<table class="pure-table pure-table-horizontal">
  <thead>
    <tr>
      <th>Id</th>
      <th>Tarea</th>
      <th>Frecuencia de la tarea</th>
      <th>Responsable</th>
      <th>Fecha de la visita</th>
      <th>Aprobado?</th>
      <th colspan="2">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @company.visit.each do |visit| %>
      <tr>
        <td><%= visit.id %></td>
        <td><%= visit.visitType.name %></td>
        <td><%= visit.frecuency.name %></td>
        <td><%= visit.employee.name %></td>
        <td><%= visit.visitDate %></td>
        <td><%= visit.aproved %></td>
        <td><%= link_to 'Ver Detalles', visit %></td>
        <td><%= link_to 'Eliminar', visit, method: :delete, data: { confirm: 'Esta Ud Seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br-->

<h3>Comentarios</h3>
<%= link_to 'Agregar Comentario', new_comment_path(@company) %>
<table class="pure-table pure-table-horizontal" width="100%">
  <thead>
    <tr>
      <th th width="20%">Fecha de Creacion</th>
      <th>Comentario</th>
    </tr>
  </thead>

  <tbody>
    <% @company.comment.each do |comment| %>
      <tr>
        <td><%= comment.created_at %></td>
        <td><%= comment.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
